/* set treasure map image, set more pleasant background colour, ensures the image is centred and doesn't repeat */
#map {
    background-image: url('treasuremap.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(37, 37, 37);
    background-size: auto;
    width: 100%;
    height: 100%;
}

/* sets the treasure chest div to be positioned absolutely relative to its coordinates and ensures it's centred on those coordinates */
#treasure {
    position: absolute;
    margin-top: -30px;
    margin-left: -40px;
}

/* sets treasure chest image to an appropriate size and sets relative position to avoid unnecessary whitespace on the page */
#treasure img {
    width: 10%;
    position: relative;
}

/* sets fade-in for treasure chest image */
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* sets full opacity for treasure chest image */
.fade-in.visible {
    opacity: 1;
}

/* hidden class makes sure an element is invisible */
.hidden {
    display: none;
}

/* help box overlay; high z-index ensures it's placed above (almost) all other elements
   ensures placement at the top of the page and makes it non-reactive */
#overlay {
    position: fixed;
    top: -500;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    pointer-events: none;
}

/* sets styling and proper placement for paragraph element containing pointers for the player */
#overlay p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    pointer-events: auto;
}